<template>
  <!-- <div id="app"> -->
  <!--   {{ pets }} -->
  <!-- </div> -->
  <div>
    <apollo-query :query="require('./queries/pets.gql')">
      <template v-slot="{result: {loading,error,data}}">
        <div v-if="loading">Loading...</div>
        <div v-else-if="data">
          <div v-for="pet in data.pets" :key="pet.id">
            {{ pet.name }} is owned by {{ pet.owner.name }} {{ pet.owner.lastName }}
          </div>
          <!-- {{ data }} -->
        </div>
        <div v-else-if="error">Error</div>
        <div v-else>Nothing to show</div>
      </template>
    </apollo-query>
  </div>
</template>


<style scoped>
  p {
    font-size: 2em;
    text-align: center;
  }
</style>
